@import "../sass/variables.scss";

.story {
  max-width: 55%;
  margin: 7.4rem auto 3.2rem auto;
  line-height: 1.75;
  color: $blue-grey-dark-5of5;

  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 2rem;

  @media (max-width: 900px) {
    max-width: 70%;
    font-size: 1.8rem;
  }

  @media (max-width: 600px) {
    max-width: 80%;
    font-size: 1.6rem;
  }

  @media (max-width: 380px) {
    max-width: 90%;
    font-size: 1.4rem;
  }

  p {
    line-height: 1.65;
    margin-bottom: 2rem;

    @media (max-width: 900px) {
      line-height: 1.6;
    }

    @media (max-width: 600px) {
      line-height: 1.55;
    }

    @media (max-width: 380px) {
      line-height: 1.5;
    }
  }

  &__img {
    display: block;
    margin: 0 auto 3.2rem auto;
    max-width: 40%;
    border-radius: 1rem;
    box-shadow: $shadow-single-1of5;

    @media (max-width: 600px) {
      max-width: 50%;
    }

    @media (max-width: 380px) {
      max-width: 60%;
    }
  }
}
