@import "../../sass/base.scss";
@import "../../sass/variables.scss";

.post {
  margin: 6.4rem auto;
  max-width: 55%;

  display: grid;

  @media (max-width: 900px) {
    max-width: 70%;
  }

  @media (max-width: 700px) {
    max-width: 90%;
  }

  @media (max-width: 500px) {
    max-width: 95%;
  }

  &__title {
    font-size: 4.8rem !important;

    @media (max-width: 500px) {
      font-size: 3.6rem !important;
    }

    @media (max-width: 380px) {
      font-size: 3rem !important;
    }
  }

  &__date {
    color: $blue-grey-dark-1of5;
  }

  &__img {
    margin: 2rem 0 3.2rem 0;
    width: 100%;

    @media (max-width: 380px) {
      margin: 1.6rem 0 2.4rem 0;
    }
  }

  button {
    font-size: 1.8rem;
    justify-self: center;
    margin-top: 4.8rem;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 3rem;

    @media (max-width: 380px) {
      font-size: 2.4rem;
    }
  }

  h2 {
    font-size: 2.4rem;

    @media (max-width: 380px) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 2rem;

    @media (max-width: 380px) {
      font-size: 1.8rem;
    }
  }

  p,
  li {
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.65;

    @media (max-width: 500px) {
      font-size: 1.6rem;
      line-height: 1.55;
    }

    @media (max-width: 380px) {
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }

  iframe {
    display: block;
    margin: auto;
  }

  &__video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    a {
      display: inline-block;
      margin-top: 3rem;
    }
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
