@import "../../sass/variables.scss";

.blog {
  margin: auto;
  margin-top: 6.4rem;
  max-width: 55%;

  display: grid;

  @media (max-width: 900px) {
    max-width: 70%;
  }

  @media (max-width: 700px) {
    max-width: 90%;
  }
}

.pagination {
  text-align: center;
  margin: 4.8rem 0;
  font-size: 1.4rem !important;
}
